body{
  margin: 0;
  background-color: #121212;
  overflow: hidden;

}
.main{
  display: flex;
  height: 100vh;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 130%;
}
 
.sidebar{
  background-color: #000;
  background-color: transparent;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  overflow: auto;
  margin-right: 0.9rem;
  
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.main_content{
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
  background-color: #232323;
  height: 100%;
  padding: 0 1.5rem;;

}
.music_player{
  background-color: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  
}
a {
  text-decoration: none;
  color: #fff;
}
i {
  color: #fff;
}
.nav {
  background-color: #232323;
  height: 5rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  margin-top: 0.2rem;
  
}
.nav-option{
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
  .nav-option i{
  font-size: 1.25rem;
}
 .nav-option:hover {
  opacity: 1;
}
.nav-option a {
  font-size: 1rem;
  margin-left: 1rem;
}
.library{
  background-color:#121212;
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.1rem;
  padding: 0.1rem 0.75rem;
  flex: 1;
  

}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
}
.lib-option img {
  width: 1.25rem;
  height: 1.25rem;
}
.icon {
  font-size: 1rem;
  display: flex;
}
.icon i {
  opacity: 0.7;
  margin-right: 1rem;

}
 .icon i:hover {
  opacity: 1;

}
.box {
  background-color: #232323;
  height: 7rem;
  border-radius: 0.8rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 1rem 1.25rem;
}
.lib-box {
  margin-top: 0.5rem;
}
.box-p1 {
  font-size: 1rem;
  color: white;
  font-weight: 500px;
}
.box-p2 {
  font-size: 0.75rem;
  color: white;
  opacity: 0.9;
  margin-top: 0.5rem;
  

}
.badge {
  background-color: #fff;
  border-radius:6rem;
  border: none;
  padding: 0.3rem 1rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.sticky-nav{
  position: sticky;
  top: 0;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  z-index: 10;
  width: 100%;
  
}

.sticky-nav-option {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
   

}
.dark-badge{
  background-color: #000;
  color: #fff;
}
 .nav-item {
  margin-right: 1rem;

}
@media (max-width: 1000px){
    .hide{
      display: none;
    }
}
.card {
  background-color: #000;
  color: #fff;
  width: 300px;
  flex-shrink: 0;
  border-radius: 0.5rem;
  
}
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    
    
    


}
.card-img{
  width: 100%;
  border-radius: 0.5rem;
  
}
h2 {
  color: #fff;
}
.card-title {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}
.card-info{
  font-size: 1rem;
}
.music_player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-controls{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.album {
  width: 25%;
  /* background-color: pink; */
}
.player {
  width: 50%;
  /* background-color: orange; */
}
.controls {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
  font-family: 'Montserrat';
  width: 25%;
  font-size: 0.8rem;
  opacity: 0.8;
  
  /* background-color: green; */
}
.controls-h2 {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  color: #ffffff;
  opacity: 0.7;
  letter-spacing: 1px;
  justify-content: flex-end;
}
.player-controls-icon {
  height: 1rem;
  margin-right: 2rem;
  opacity: 0.8;
}
.player-controls-icon:hover {
  opacity: 1;
  
}
.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem 0 2rem;
}
